#include <windows.h>

IDI_ICON1 ICON "icons/main.ico"
VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,0,0,0       // Версия файла
PRODUCTVERSION 1,0,0,0    // Версия продукта
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"    // Кодировка (US English + Unicode)
        BEGIN
            VALUE "CompanyName", "SoftBit Developer\0"
            VALUE "FileDescription", "Finance Manager\0"
            VALUE "FileVersion", "1.0.0.0\0"
            VALUE "InternalName", "DesktopWalletManager.exe\0"
            VALUE "LegalCopyright", "Copyright © 2024 SoftBit Developer\0"
            VALUE "OriginalFilename", "DWM.exe\0"
            VALUE "ProductName", "DesktopWalletManager\0"
            VALUE "ProductVersion", "1.0.0.0 Beta\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200    // Язык (0409 = English, 1200 = Unicode)
    END
END
