Package: sqlite3
Version: 3.46.0
Port-Version: 1
Depends: vcpkg-cmake, vcpkg-cmake-config
Architecture: x64-windows
Multi-Arch: same
Abi: 2b9198110074388460b16a2f1ebd9d9b49ccc497c0ce1b5b95fe35bdfde6d074
Description: SQLite is a software library that implements a self-contained, serverless, zero-configuration, transactional SQL database engine.
Default-Features: json1

Package: sqlite3
Feature: json1
Architecture: x64-windows
Multi-Arch: same
Description: Enable JSON functionality for sqlite3
